.crtInstContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    height: 100vh;
}


.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 30vw;
}

.selectCrs {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

.selectAtrb{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

input, option{
    text-align: center ;
}
  
  